.question-left{
  color: cornflowerblue;
  font-size: 18px;
  font-weight: bold;
}

.quiz-app-answers{
  padding: 10px;
}

.quiz-app-question{
  color: darkolivegreen;
  font-size: 22px;
  font-weight: bold;
}

.quiz-app-data{
  width: 500px;
}